*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.xcf
markdown.tex
*ippets*
images/dont-change-horses-in-middle-of-river.png
test.md
*.sublime-project
*.sublime-workspace
Markdown-*.pdf
markdown.pdf
